:root {
	--ux: min(50vw, 50vh);
	--uy: min(6vw, 6vh);
	--twentieth-uy: calc(0.05 * var(--uy));
	--tenth-uy: calc(0.1 * var(--uy));
	--fifth-uy: calc(0.2 * var(--uy));
	--third-uy: calc(0.3 * var(--uy));
	--half-uy: calc(0.5 * var(--uy));
	--soff: calc(0.2 * var(--uy));
	--srad: calc(0.3 * var(--uy));
}

body {
	background: #40444b;
	font-family: Sans-serif
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.content-container {
	display: block;
	width: var(--ux);
	margin: var(--third-uy) calc(0.1 * var(--ux));
	padding: var(--third-uy) calc(0.1 * var(--ux));
	background: #2f3136;
	border-radius: var(--half-uy);
	color: #fff;
	font-size: calc(0.4 * var(--uy));
	filter: drop-shadow(var(--soff) var(--soff) var(--srad) #222);
	-moz-box-shadow: var(--soff) var(--soff) var(--srad) #222;
	-webkit-box-shadow: var(--soff) var(--soff) var(--srad) #222
}

.content-container h1 {
	text-align: center;
	font-size: var(--uy);
}

.content-container input {
	width: calc(98%);
	height: var(--uy);
	display: inline-block;
	margin-bottom: var(--third-uy)
}

.content-container input[type=password],
input[type=ipv4],
input[type=number],
input[type=text] {
	display: block;
	padding: var(--tenth-uy);
	color: #fff;
	font-size: var(--half-uy);
	border: none;
	border-radius: var(--third-uy);
	background: #222;
	filter: drop-shadow(inset var(--soff) var(--soff) var(--srad) #222);
	-moz-box-shadow: inset var(--soff) var(--soff) var(--srad) #111;
	-webkit-box-shadow: inset var(--soff) var(--soff) var(--srad) #111
}

.content-container input[type=submit],
input[type=button] {
	display: inline-block;
	width: 100%;
	margin-top: var(--tenth-uy);
	padding: var(--tenth-uy);
	background: #ffe300;
	border-radius: var(--half-uy);
	border: none;
	cursor: pointer;
	color: #222;
	font-size: calc(0.7 * var(--uy));
	filter: drop-shadow(var(--tenth-uy) var(--tenth-uy) 0 #ffb400);
}

.content-container input[type=submit]:active,
input[type=button]:active {
	transform: translate(var(--twentieth-uy), var(--twentieth-uy));
	filter: drop-shadow(var(--twentieth-uy) var(--twentieth-uy) 0 #ffb400)
}